{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "proseWrap": "always",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next",
    "^react$",
    "^react-query$",
    "^react-hook-form$",
    "^@hookform/resolvers/yup$",
    "^react-router-dom$",
    "^jotai",
    "^jotai/utils",
    "^axios",
    "^yup",
    "^ts-pattern",
    "^dayjs",
    "^@sentry",
    "",
    "^vitest$",
    "@testing-library/react$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "<BUILTIN_MODULES>",
    "",
    "^(@/src/app)(/.*)$",
    "",
    "^(@/src/views)(/.*)$",
    "",
    "^(@/src/widgets)(/.*)$",
    "",
    "^(@/src/features)(/.*)$",
    "",
    "^(@/src/entities)(/.*)$",
    "",
    "^(@/src/shared)(/@types.*)$",
    "^(@/src/shared)(/api.*)$",
    "^(@/src/shared)(/constants.*)$",
    "^(@/src/shared)(/config.*)$",
    "^(@/src/shared)(/helpers.*)$",
    "^(@/src/shared)(/libraries.*)$",
    "^(@/src/shared)(/hooks.*)$",
    "^(@/src/shared)(/ui.*)$",
    "",
    "^(@/shared)(/assets.*)$",
    "",
    "^./_types",
    "^./_constants",
    "^./_validation",
    "^./_requests",
    "^./_store",
    "^./_helpers",
    "^./_",
    "",
    "^[.]"
  ]
}
